@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600);

* {
    position: relative;
}

h2 {
    line-height: 16px;
    font-size: 20px;
    border-bottom: 1px solid #666;
    padding-bottom: 7px;
    margin-right: 15px;
}

h3 {
    padding-left: 5px;
    margin-bottom: 5px;
    text-shadow: 1px 1px #B3B3B3;
    color: #3A3A3A;
}

h4 {
    line-height: 18px;
    font-size: 16px;
    margin: 7px 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #555;
}

h5 {
    line-height: 22px;
    font-size: 14px;
    margin: 6px 4px;
    padding-bottom: 3px;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table.full {
    width: 96%;
    margin: 0px auto;
}

/* ******** LAYOUT ************************************************************ */





#contentPluginsPanel, #contentBrowserPanel {
    display: block;
    background-color: #555955;
    padding: 0;
    margin-top: -4px;
    margin-right: 5px;
    border-left: 7px solid #555955;
    background-color: #444844;
    padding-left: 1px;
}


#rightFloatPanel {
    float: left;
    position: relative;
    display: block;
    min-width: 170px;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    top: 40px;
    left: 50px;
}

#rightFloatPanel.disabled {
    opacity: 0 !important;
}

#rightFloatPanel:hover {
    opacity: 1;
}

#headerTitle {
    padding-left: 5px;
    margin-bottom: 5px;
    font-family: segoe ui light, segoe ui, calibri, arial;
    text-shadow: 1px 1px #b3b3b3;
    color: #3a3a3a;
}

#headerActionPanel {
    padding-right: 0px;
    float: right;
}

.actionButton {
    display: inline-block;
    background-color: #363636;
    margin-left: 0px;
    padding-right: 5px;
    padding-left: 5px;
    border: 0;
    border-left: 1px solid #555;
    line-height: 34px;
    font-size: 16px;
}

.actionButton:hover{
    text-decoration: none;
    background-color: #fbf37b;
    border-color: #fbf37b;
    box-shadow: 0 0 15px #fbf37b;
    color: black;
}

/* ******************* TABULKY **************************************************/

/*table.noborders {
    border: 0px;
}

table.noborders td, th {
    border: 0px;
}

img {
    vertical-align: middle;
}*/

/*.item {
    border: 1px solid #bbb;
    box-shadow: 0 0 6px #ccc;
    border-radius: 1px;
    padding: 3px;
    padding-left: 4px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 7px;

    color: #555;
    position: relative;
}*/

/*.item img {
    height: 22px;
    width: 22px;
    margin-right: 5px;
}*/

/*.item.selectable {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-transition: box-shadow 0.4s, border 0.4s, border-color 0.4s, background-color 0.4s, color 0.4s;
    -moz-transition: box-shadow 0.4s, border 0.4s, border-color 0.4s, background-color 0.4s, color 0.4s;
    transition: box-shadow 0.4s, border 0.4s, border-color 0.4s, background-color 0.4s, color 0.4s;
}

.item.selectable:hover {
    background-color: #888;
}*/

/*.notactivated, .hidden {
    background-color: #323232;
    color: #aaa;
}*/

/*.item .button {
    margin: 0px;
    padding: 2px;
    background-color: #4f4f4f;
    line-height: inherit;
}*/

/*.item .button img {
    height: 16px;
    width: 16px;
}

.item .button:hover {
    background-color: #fff;
}

*/

/*.controlPanel {
    float: right;
    display: inline-block;
}

.controlPanel img {
    width: 22px;
    margin: 0px;
}*/

.ui-state-default .ui-state-highlight {
    margin: 0;
    padding: 0;
    display: none;
}

div.image.ui-state-default {
    border-radius: 1px;
    border: 0;
    display: inline-block;
    background: none;
    background-color: #222;
    margin: 3px;
    padding: 6px;
    padding-bottom: 2px;
    text-align: center;
}

div.image:hover {
    background-color: #4c4c4c;
    cursor: pointer;
}

div.image .imageTitleBar {
    /*margin-top: 2px;*/
    margin-bottom: 3px;
    color: #ccc;
}

div.image .imageActionBar {
    margin-top: 2px;
    padding: 0;
    height: 24px;
    line-height: 24px;
    vertical-align: bottom;
    color: #bbb;
}

/* ********* SPECIAL ********************************************************** */

#loader {
    display: none;
    position: absolute;
    background-color: rgba(34, 34, 34, 0.9);
    padding: 10px;
    width: 60px;
    height: 55px;
    text-align: center;
    z-index: 999;
}



#window {
    display: table-column;
    display: none;
    min-height: 25px;
    background-color: red;
    position: fixed;
    margin: 20px 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    background-color: #222;
    border-radius: 2px;
    border: 1px solid #555;
    z-index: 99;
}
#windowCloser {
    position: absolute;
    top: 2px;
    right: 2px;
}
#windowCloser .button {
    background: none;
    box-shadow: 0 0 0 0;
    width: 18px;
    height: 18px;
}

#windowCloser .button:hover {
    background-color: #555;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    display: block;
    display: none;
    background-color: rgba(30,30,50,255);
    opacity: 0.75;
    width: 100%;
    height: 100%;
}

.ajaxLoader {
    display: none;
    position: relative;
    background-color: #eee;
    text-align: center;
    color: black;
    padding: 3px 8px;
    margin: 0;
}

/* pri editacii stranky kvoli JS */
#selTemplate {
    display: inline-block;
    width: 250px;
}


/* SORTABLE JQUERY UI */
.sortable .ui-state-highlight {
    border: 0px;
    background: none;
    background-color: #FBF37B;
    height: 49px;
    border: 1px solid #FBF37B;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 2px;
}

.sortable .ui-state-default {
    /*    border: 1px solid #FBF37B;*/
    border: 0px;
    background: none;
    font-weight: normal;
}

.toggleHideable {
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.toggleHideable:hover {
    background-color: #444;
}

.manual {
    margin: 5px;
    padding-right: 3px;
    width: 1000px;
    text-align: justify;
    line-height: 20px;
}

