@charset "utf-8";

html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 500px; /* 2x (LC fullwidth + CC padding) + RC fullwidth */
    width: 100%;
    height: auto;
    min-height: 100%;
    background: url('/alien/display/layouts/index/img/pattern-light.png') #fff;
    color: #555;
    font-size: 14px;
    line-height: 1.4em;
    font-family: segoe ui, trebuchet ms, Calibri;
    margin: 0px;
    padding: 0;
    text-shadow: 1px 1px rgba(190, 190, 190, 0.5);
    -moz-user-select: none;
    -webkit-user-select: none;
}

h1 {
    font-family: segoe ui light, segoe ui;
    font-size: 26px;
}

pre {
    font-family: consolas;
    display: block;
    padding: 15px;
    background: #eee;
    text-shadow: none;
    border-radius: 10px;
    border: 1px solid #ddd;
}

hr, .hr {
    width: 100%;
    height: 1px;
    line-height: 1px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #888;
    margin: 10px 0;
}

#toppanel {
    z-index: 3;
    position: relative;
    top: 0;
    left: 0;
    border: 0;
    box-shadow: 0 0 5px 2px #444;
}

#container {
    padding-left: 235px;  /* LC fullwidth */
    padding-right: 100px; /* RC fullwidth + CC padding */
}

#container.layout-fullsize {
    padding-left: 42px;
}

#container .column {
    position: relative;
    float: left;
}

#leftPanel {
    width: 235px; /* LC width */
    padding: 0; /* LC padding */
    /*right: 335px;  LC fullwidth + CC padding */
    margin-left: -100%;
    z-index: 2;
    height: 100%;
    overflow: hidden;
    display: block;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#container #leftPanel.column {
    position: fixed;
    left: 0;
    margin-left: 0;
}

#container.layout-fullsize #leftPanel {
    width: 42px;
    right: 142px;
}

#mainPanel {
    width: 100%;
    padding: 0 50px; /* CC padding */
    font-size: 14px;
    margin-top: 10px;
}

#leftPanel, #mainPanel, #container {
    transition: width .7s, padding .7s, margin .7s;
    transition-timing-function: cubic-bezier(1,0,0,1);
    -webkit-transition-timing-function: cubic-bezier(1,0,0,1);
}

#leftPanel header {
    position: relative;
    top: 10px;
    background-color: rgba(207, 207, 207, 0.56);
    font-style: italic;
}

#leftPanel nav {
    position: relative;
    top: 10px;
}

#leftPanel nav .badge {
    opacity: 0.7;
}

#leftPanel nav a:hover .badge,
#leftPanel nav a.highlight .badge {
    opacity: 1;
}

#leftPanel nav a span.icon {
    margin-right: 13px;
}

#leftPanel header h1 {
    font-size: 16px;
    line-height: 22px;
    color: rgb(83, 109, 136);
    text-shadow: 1px 1px rgba(243, 243, 243, 0.74);
    white-space: nowrap;
}

#mainmenuMinimizer {
    cursor: pointer;
    transition: all .7s;
    -webkit-transition: all .7s;
    transition-timing-function: cubic-bezier(1,0,0,1);
    -webkit-transition-timing-function: cubic-bezier(1,0,0,1);
}

#container.layout-fullsize #mainmenuMinimizer {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}

#container.layout-fullsize #leftPanel nav a .badge {
    opacity: 0;
}

/*#container.layout-fullsize #leftPanel header h1 {*/
    /*color: transparent;*/
    /*text-shadow: none;*/
/*}*/

#leftPanel h1 span.icon {
    margin-right: 11px;
}

#container.layout-fullsize #leftPanel header span.icon:not(#mainmenuMinimizer) {
    display: none;
}

#rightFloatPanel    {
    position: absolute;
    display: block;
    min-width: 170px;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    top: 40px;
    left: 1050px;
    z-index: 999;
    background-color: #F5F5F5;
}

#rightFloatPanel .inner {
    background-color: #e6e6e6;
}

#rightFloatPanel.disabled {
    opacity: 0 !important;
}

#rightFloatPanel:hover {
    opacity: 1;
}

@media (max-width: 1175px) {
    #toppanel header {
        display: none;
    }
}

@media (max-width: 950px) {
    #searchbar {
        display: none;
    }
}