.editable {
    position: relative;
    &:after {
        /*display: block;
        position: absolute;
        font-family: "fontAwesome";
        content: "\f040";
        text-align: right;
        top: -32px;
        font-size: 10px;
        line-height: 32px;
        background: rgba(255, 255, 0, 0.3);
        width: 100%;*/
    }
}