@import "notifications.less";

@cms-color-default: #c8ccd4;
@cms-color-primary: #9368af;
@cms-color-info: #00c0ef;
@cms-color-success: #41a668;
@cms-color-warning: #f39c12;
@cms-color-danger: #f06752;

.cms-font() {
    font-family: 'Basic', sans-serif;
    //font-stretch: semi-condensed;
}

.editable {
    position: relative;
    &:after {
        /*display: block;
        position: absolute;
        font-family: "fontAwesome";
        content: "\f040";
        text-align: right;
        top: -32px;
        font-size: 10px;
        line-height: 32px;
        background: rgba(255, 255, 0, 0.3);
        width: 100%;*/
    }
}

.cms-notifications {
  .alert {
      background: @cms-color-primary;
      color: #fff;
      line-height: 2em;
      border-radius: 0;
      border: none;
      border-left: 5px solid darken(@cms-color-primary, 10%);
      strong {
          display: block;
          font-size: 1.2em;
      }
  }
  .alert-info {
      background: @cms-color-info;
      border-left: 5px solid darken(@cms-color-info, 10%);
  }
  .alert-success {
      background: @cms-color-success;
      border-left: 5px solid darken(@cms-color-success, 10%);
  }
  .alert-warning {
      background: @cms-color-warning;
      border-left: 5px solid darken(@cms-color-warning, 10%);
  }
  .alert-danger {
      background: @cms-color-danger;
      border-left: 5px solid darken(@cms-color-danger, 10%);
  }
}

[ng-controller] {
    .cms-button(@color) {
        .cms-font;
        font-size: 12px;
        //border-radius: 0;
        text-transform: uppercase;
        box-shadow: none;
        outline: none;
        margin-top: 8px;
        margin-bottom: 8px;
        border: none;
        padding: 8px 7px 8px 5px;
        //background: @color;
        background: #fff;
        border: 1px solid #ccc;
        color: @color;
        border-left: 3px solid darken(@color, 8%);
        transition: background .3s, padding .3s;
        transition-timing-function: ease-in-out;
        &:hover {
            background: darken(@color, 12%);
            color: #fff;
            padding-left: 15px;
            padding-right: 22px;
        }
    }
    .btn-default {
        .cms-button(@cms-color-default);
    }
    .btn-primary {
        .cms-button(@cms-color-primary);
    }
    .btn-info {
        .cms-button(@cms-color-info);
    }
    .btn-success {
        .cms-button(@cms-color-success);
    }
    .btn-warning {
        .cms-button(@cms-color-warning);
    }
    .btn-danger {
        .cms-button(@cms-color-danger);
    }
    [contenteditable="true"] {
        background: rgba(255, 249, 20, 0.30);
        border: 1px dotted #ffb50c;
    }
}