@import "notifications.less";

@cms-color-primary: #3c8dbc;
@cms-color-info: #00c0ef;
@cms-color-success: #00a65a;
@cms-color-warning: #f39c12;
@cms-color-danger: #f56954;

.editable {
    position: relative;
    &:after {
        /*display: block;
        position: absolute;
        font-family: "fontAwesome";
        content: "\f040";
        text-align: right;
        top: -32px;
        font-size: 10px;
        line-height: 32px;
        background: rgba(255, 255, 0, 0.3);
        width: 100%;*/
    }
}

.cms-notifications {
  .alert {
      background: @cms-color-primary;
      color: #fff;
      line-height: 2em;
      border-radius: 0;
      border: none;
      border-left: 5px solid darken(@cms-color-primary, 10%);
      strong {
          display: block;
          font-size: 1.2em;
      }
  }
  .alert-info {
      background: @cms-color-info;
      border-left: 5px solid darken(@cms-color-info, 10%);
  }
  .alert-success {
      background: @cms-color-success;
      border-left: 5px solid darken(@cms-color-success, 10%);
  }
  .alert-warning {
      background: @cms-color-warning;
      border-left: 5px solid darken(@cms-color-warning, 10%);
  }
  .alert-danger {
      background: @cms-color-danger;
      border-left: 5px solid darken(@cms-color-danger, 10%);
  }
}