html {
    width: 100%;
    height: 100%;
}

#alienBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent url('/alien/display/img/backgroundAlien.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    opacity: 0.7;
}

.cleaner {
    clear: both;
}

#maincontent {

}

#ConsoleContainer {
    position: fixed;
    font-family: consolas;
    bottom: 5px;
    right: 5px;
    display: block;
    width: 600px;
    background-color: #eee;
    border: 1px solid #ccc;
    color: #333;
    opacity: 0.85;
}

#ConsoleHeader img {
    margin-left: 2px;
    margin-right: 5px;
}

#ConsoleInput {
    margin-left: 5px;
}

#ConsoleInput input {
    background-color: #e9e9e9;
    width: 305px;
    font-family: consolas;
    font-weight: normal;
    font-size: 15px;
}

.ConsoleTime {
    color: #888;
}

.console_msg { color: #333; }
.console_warning { color: #fc8d00; }
.console_error { color: red; }

section#messageDetail {
    padding: 10px;
    border: 1px solid #aaa;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

#unreadMessages {
    float: right;
    margin-right: 20px;
    margin-top: 12px;
    display: table-cell;
    background-color: rgba(77, 192, 23, 0.2);
    width: 2.2em;
    height: 2em;
    font-size: 11px;
    vertical-align: middle;
    line-height: 2em;
    text-align: center;
    color: #ccc;
    text-shadow: 1px 1px #444;
    border-radius: 7px;
}


/* *** TABS ******************************************************************* */

section.tabs header ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #aaa;
}

section.tabs header ul li {
    float: left;
    display: block;
    position: relative;
    margin-bottom: -1px;
}

section.tabs header ul li a {
    border: 1px solid #aaa;
    border-top-color: #c2c2c2;
    color: #666;
    border-right: 0;
    display: block;
    padding: 10px;
    padding-top: 5px;
    background: url('img/main_background3.jpg') #d7d3d4;
    transition: background .2s, color .2s;
    -webkit-transition: background .2s, color .2s;
}

section.tabs header ul li:first-child a {
    border-left-color: #c2c2c2;
    border-top-left-radius: 2px;
}

section.tabs header ul li:last-child a {
    border-right: 1px solid #aaa;
    border-top-right-radius: 2px;
}

section.tabs header ul li.active a {
    border-bottom-color: transparent;
    color: #000;
}

section.tabs header ul li:hover a {
    background: rgba(255, 255, 17, 0.2);
    text-decoration: none;
    color: #000;
}

section.tabs section {
    padding: 10px;
    padding-top: 15px;
    border: 1px solid #aaa;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left-color: #c2c2c2;
    border-top: none;
    margin-top: -5px;
    box-shadow: 2px 2px 10px rgba(187, 187, 187, 0.8);
}

/* *** ITEMS - ROWS *********************************************************** */


table.itemList {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #aaa;
    border-top-color: #c2c2c2;
    border-left-color: #c2c2c2;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(187, 187, 187, 0.8);
}

table.itemList tr:first-child {
    background: rgba(255, 255, 17, 0.2);
}

table.itemList th {
    border-bottom: 1px solid #aaa;
    box-shadow: 0px 1px 0px rgba(130, 130, 130, 0.1);
    padding: 8px;
    font-weight: bold;
    text-shadow: 1px 1px rgba(190, 190, 190, 0.2);
    color: #222;
    font-weight: normal;
}

table.itemList td {
    border-bottom: 1px dashed #777;
    padding: 8px;
    vertical-align: middle;
}

table.itemList tr:last-child td {
    border-bottom: none;
}

table .itemRow {
    -webkit-transition:  background-color 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}

table .itemRow:nth-child(odd){
    background-color: rgba(230, 230, 230, 0.3);
}

table .itemRow:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

table .itemRow img {
    vertical-align: middle;
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

/* *** ITEMS - GRID *********************************************************** */

.gridLayout .item {
    display: block;
    position: relative;
    line-height: 32px;
    font-size: 22px;
    border: 1px solid #bbb;
    width: 100px;
    height: 80px;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    padding-top: 10px;
    float: left;
    text-align: center;
    box-shadow: 1px 1px 6px #c5c5c5;
    border-radius: 2px;
    -webkit-transition: box-shadow 0.2s, border 0.2s, border-color 0.2s, background-color 0.2s, color 0.2s;
    -moz-transition: box-shadow 0.2s, border 0.2s, border-color 0.2s, background-color 0.2s, color 0.2s;
    transition: box-shadow 0.2s, border 0.2s, border-color 0.2s, background-color 0.2s, color 0.2s;
}

.gridLayout .item:nth-child(7){
    clear: both;
}

.gridLayout .itemText {
    text-align: center;
    margin-top: 3px;
    color: #333;
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.item.selectable:hover {
    /*background-color: #fbf37b;*/
    background-color: rgba(250, 250, 255, 0.6);
}


.gridLayout .item:hover{
    border-color: #aaa;
    background-color: #f7f7f7;
    cursor: pointer;
}

.gridLayout .item .itemCP {
    font-size: 10px;
    line-height: 10px;
}

.gridLayout .item .itemCP .button {
    font-size: 10px;
    line-height: 10px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

/* FORMS */

.invalid {
    border-color: #d51111;
    box-shadow: 0px 0px 5px 1px #d03808;
}

.invalidHelper {
    position: absolute;
    display: block;
    text-align: right;
    color: #E4513D;
}

.invalid:hover {
    border-color: #d51111;
}

:focus { outline: none; } /* odstrani ten debilny ramcek pri chromu */

textarea:focus, input:focus {
    box-shadow: 0 0 10px #999;
    border-color: #999;
    background-color: #fff;
}