@charset "utf-8";

input, select, textarea, option {
    width: 100%;
}

input, button, .button, select, option, textarea {
    font-weight: normal;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 4px;
    padding-left: 8px;
    color: #333;
    line-height: 32px;
    height: 32px;
    vertical-align: middle;
    -webkit-transition: all .2s;
    transition: all .2s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
}


select {
    padding: 2px;
    margin-left: 0px;
    height: 32px;
}

button, .button {
    background-color: rgb(111, 179, 224);
    color: #fff;
    /*text-shadow: 1px 1px #ddd;*/
    border: none;
    margin-right: 4px;
    cursor: pointer;
    padding: 5px 14px;
    padding-right: 15px;
    font-size: 14px;
}

.button {
    display: inline-block;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.item .button {
    box-shadow: 0 0 0 #000;
}

input[type="text"]{
    font-weight: normal;
}

input:hover, button:hover, textarea:hover, select:hover {
    background-color: #FFFFE5;
    color: black;
}

.button:hover {
    background-color: rgb(23, 139, 231);
    border-color: #aaa;
}

.button.neutral:hover {
}


.button.negative {
    background: #d9534f;
}

.button.negative:hover {
    background: #AF1212;
}

.button.positive {
    background: rgb(154, 188, 50);
}

.button.positive:hover {
    background: rgb(137, 170, 37);
}

a.button:hover {
    text-decoration: none;
}

input[disabled]{
    background-color: #e7e7e7;
    cursor: url(/alien/display/img/impossible.ico), auto;
}

input[disabled]:hover{
    border-color: #555;
}

button.disabled, .button.disabled {
    background-color: #B1B1B1;
    color: #444;
    cursor: url(/alien/display/img/impossible.ico), auto;
}

button.disabled:hover, .button.disabled:hover {
    color: #000;
}

input[type="submit"]{
    cursor: pointer;
}

fieldset hr {
    border: 1px solid #3c3c3c;
}

legend {
    padding: 0 2px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px #fff;
}

.invalid {
    border-color: #d51111;
    box-shadow: 0px 0px 5px 1px #d03808;
}

.invalidHelper {
    position: absolute;
    display: block;
    text-align: right;
    color: #E4513D;
}

.invalid:hover {
    border-color: #d51111;
}

:focus { outline: none; } /* odstrani ten debilny ramcek pri chromu */

textarea:focus, input:focus {
    box-shadow: 0 0 5px #ccc;
    border-color: #aaa;
    background-color: #FFFFE5;
}

button span.icon, .button span.icon {
    background-size: 1.15em;
    top: 0.38em;
    margin-right: 0.2em;
}