/* overall css */

span.icon {
    position: relative;
    top: 0.35em;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.4em;
    height: 1.6em;
    width: 1.6em;
    margin-right: 0.2em;
    margin-left: 0.1em;
    opacity: 1;
    -webkit-transition:  opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

/*a span.icon,*/
/*button span.icon,*/
/*.button span.icon,*/
/*ul li a span.icon {
    opacity: 0.8;
}*/

a:hover span.icon,
button:hover span.icon,
.button:hover span.icon,
a.highlight span.icon,
ul li:hover a span.icon,
section.tabs header ul li.active a span.icon {
    opacity: 1;
}

span.icon:hover {
    opacity: 1;
}

span.icon.icon-xs {
    height: 0.9em;
    width: 0.9em;
    background-size: 0.7em;
    top: 0.1em;
    margin-right: 0;
    margin-left: 0.5em;
}

.gridLayout .item .icon {
    margin: 0;
    margin-bottom: 1px;
}

.gridLayout .item .itemCP .icon {
    display: none;
}

.gridLayout .item:hover .itemCP .icon {
    display: block;
}

#toppanel li:hover .submenu ul li a span.icon {
    opacity: 0.6;
}

#toppanel li:hover .submenu ul li:hover a span.icon {
    opacity: 1;
}
/* samotne ikony su v icons-data.css kt. sa generuju skrz iconsCssGen.php */