.modal.modal-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(85, 50, 50, 0.4);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    -webkit-transition: opacity .2s, visibility .2s;
}

.modal.modal-overlay.visible {
    opacity: 1;
    visibility: visible;
}

.modal.modal-window {

    max-width: 1000px;
    max-height: 550px;
    overflow: hidden;

    position: fixed;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: 1001;
    /*min-width: 400px;*/
    /*max-width: 75%;*/
    /*height: auto;*/
    /*max-height: 75%;*/
    /*overflow: auto;*/
    left: 40%;
    top: 40%;
    background: #f8f8f8;
    box-shadow: 2px 2px 5px #888;
    /*transition-delay: .2s;*/
    /*-webkit-transition-delay: .2s;*/
    /*-moz-transition-delay: .2s;*/
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    transition: transform .2s, opacity .2s, visibility .2s;
    -webkit-transition: -webkit-transform .2s, opacity .2s, visibility .2s;
    -moz-transition: -moz-transform .2s, opacity .2s, visibility .2s;
}

.modal.modal-window.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
}

.modal.modal-window .modal-header {
    background: #777;
    vertical-align: middle;
    text-align: center;
    font-family: segoe ui light, segoe ui, arial narrow, arial;
    color: #fff;
    text-shadow: 1px 1px #777;
    font-size: 25px;
    padding: 15px 0;
    cursor: move;
}

.modal.modal-window .modal-content {
    position: relative;
    display: block;
    word-wrap: break-word;
    width: 98%;
    height: 98%;
    padding: 1%;
    overflow: auto;
    max-width: 1000px;
    max-height: 480px;
}