section.tabs {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
}

section.tabs header {
    z-index: 10;
    overflow: hidden;
}

section.tabs header ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    margin-left: 12px;
    padding: 0;
    width: 100%;
}

section.tabs header ul li {
    float: left;
    display: block;
    position: relative;
    margin-bottom: -1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

section.tabs header ul li a {
    color: #666;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 18px 24px;
    padding-top: 8px;
    transition: background .2s, color .2s, border .2s, padding .2s;
    -webkit-transition: background .2s, color .2s, border .2s, padding .2s;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

section.tabs header ul li:last-child a {
    border-right: none;
}

section.tabs header ul li.active a {
    color: #000;
    background: #eee;
    border-bottom: 2px solid #ccc;
    padding-bottom: 16px;
}

section.tabs header ul li:hover a {
    background: #eee;
    text-decoration: none;
    color: #000;
}

section.tabs section {
    z-index: 5;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 25px 0% 10px 0%;
    margin-top: -4px;
    transition: height .4s ease-in-out;
    -webkit-transition: height .4s ease-in-out;
    border-top: 1px solid #ddd;
    width: 100%;
}

section.tabs section article {
    position: absolute;
    display: block;
    width: 100%;
    /*overflow: hidden;*/
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

section.tabs section .tab-hidden {
    transform: rotateZ(4deg);
    -webkit-transform: rotateZ(4deg);
    opacity: 0;
    visibility: hidden;
    background-color: inherit;
    color: inherit;
}